* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}



/* NAV */

nav {
  margin: 0;
  padding: 0;
  width: auto;
  background: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

.nav-container {
  margin: 0;
  padding: 0 25px;
  max-width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

a#nav-logo {
  margin: 0;
  padding: 0;
  display: block;
  background-image: url(../SVG/Webby_Max_Logo_Color.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 40px;
  line-height: 0;
  font-size: 0;
  color: transparent;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.nav-list li a {
  margin: 0 18px;
  padding: 0 10px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-list li a:hover,
.mobile-nav li a:hover  {
  margin: 0;
}

.nav-list li a:hover::before,
.mobile-nav li a:hover::before  {
  content: ">";
  padding-right: 10px;
}

.nav-list li a:hover::after,
.mobile-nav li a:hover::after  {
  content: "<";
  padding-left: 10px;
}

.nav-list li::after {
  content: "|";
}

.nav-list li:last-child::after {
  content: "";
}



/* MOBILE TOGGLE */

.mobile-nav-toggle {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  display: none;
  align-items: center;
  cursor: pointer;
}

.mobile-nav-toggle span,
.mobile-nav-toggle span::before,
.mobile-nav-toggle span::after {
  height: 2px;
  width: 50px;
  background: #333;
  display: block;
  content: "";
  position: relative;
  transition: all 0.3s ease-in-out;
}
.mobile-nav-toggle span::before {
  top: 15px;
}

.mobile-nav-toggle span::after {
  top: -17px;
}

.mobile-nav-toggle.is-open span {
  background: transparent;
}

.mobile-nav-toggle.is-open span::before,
.mobile-nav-toggle.is-open span::after {
  transform-origin: center;
  transform: rotate(45deg);
  top: 0;
}

.mobile-nav-toggle.is-open span::before {
  transform: rotate(-45deg);
}



/* MOBILE NAV */

.mobile-nav {
  display: none;
  position: absolute;
  width: 100%;
  padding: 30px 0 20px;
  background: white;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.mobile-nav a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.mobile-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav li {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
}




@media (max-width: 780px) {

  .nav-container {
    height: 70px;
  }

  a#nav-logo {
    height: 50px;
    width: 135px;
  }

  .nav-list {
    display: none;
  }

  .mobile-nav.is-open {
    display: block;
    transform: translateY(35%);
  }

  .mobile-nav-toggle {
    display: flex;
  }
}



/* HEADER */

header {
  margin: 0;
  padding: 0;
  background: url(../IMG/Header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -1;
}

.header-container {
  margin: 0;
  padding: 0;
  position: relative;
  background: rgba(247, 148, 29, 0.25);
  height: 300px;
}

.header-container h2 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 150px;
  bottom: 150px;
  left: 50px;
  color: #fff;
  font-size: 24px;
  letter-spacing: 10px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9);
}

.header-container h3 {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -45px;
  left: 100px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: lighter;
}

.header-container img {
  margin: 0;
  padding: 0;
  width: 400px;
  position: absolute;
  bottom: -75px;
  right: 50px;
}
