* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
}

.content {
	padding-bottom:200px; /* Height of the footer element */
}
.footer {
	width:100%;
	height:200px;
	position:absolute;
	bottom:0;
	left:0;
}


/* NAV */

nav {
  margin: 0;
  padding: 0;
  width: auto;
  background: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  flex: 1;
}

.nav-container {
  margin: 0;
  padding: 0 25px;
  max-width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

a#nav-logo {
  margin: 0;
  padding: 0;
  display: block;
  background-image: url(../SVG/Webby_Max_Logo_Color.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 160px;
  height: 100px;
  line-height: 0;
  font-size: 0;
  color: transparent;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.nav-list li a {
  margin: 0 18px;
  padding: 0 10px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-list li a:hover {
  margin: 0;
}

.nav-list li a:hover::before {
  content: ">";
  padding-right: 10px;
}

.nav-list li a:hover::after {
  content: "<";
  padding-left: 10px;
}

.nav-list li::after {
  content: "|";
}

.nav-list li:last-child::after {
  content: "";
}



/* MOBILE TOGGLE */

.mobile-nav-toggle {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  display: none;
  align-items: center;
  cursor: pointer;
}

.mobile-nav-toggle span,
.mobile-nav-toggle span::before,
.mobile-nav-toggle span::after {
  height: 2px;
  width: 50px;
  background: #333;
  display: block;
  content: "";
  position: relative;
  transition: all 0.3s ease-in-out;
}
.mobile-nav-toggle span::before {
  top: 15px;
}

.mobile-nav-toggle span::after {
  top: -17px;
}

.mobile-nav-toggle.is-open span {
  background: transparent;
}

.mobile-nav-toggle.is-open span::before,
.mobile-nav-toggle.is-open span::after {
  transform-origin: center;
  transform: rotate(45deg);
  top: 0;
}

.mobile-nav-toggle.is-open span::before {
  transform: rotate(-45deg);
}



/* MOBILE NAV */

#mobile-nav {
  display: none;
  position: absolute;
  width: 100%;
  top: 50px;
  background: white;
  padding: 30px 0 20px;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

#mobile-nav a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

#mobile-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#mobile-nav li {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
}




@media (max-width: 785px) {

  .nav-container {
    height: 70px;
  }

  a#nav-logo {
    height: 50px;
    width: 135px;
  }

  .nav-list {
    display: none;
  }

  #mobile-nav.is-open {
    display: block;
    transform: translateY(0%);
  }

  .mobile-nav-toggle {
    display: flex;
  }
}



/* HEADER */

header {
  margin: 0;
  padding: 0;
  background: url(../IMG/Header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -1;
  flex: 4;
}

.header-container {
  margin: 0;
  margin-bottom: 125px;
  padding: 0;
  position: relative;
  background: rgba(247, 148, 29, 0.25);
  height: 300px;
}

.header-container h2 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 150px;
  bottom: 150px;
  left: 50px;
  color: #fff;
  font-size: 24px;
  letter-spacing: 10px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9);
}

.header-container h3 {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -45px;
  left: 100px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: lighter;
}

.header-container img {
  margin: 0;
  padding: 0;
  width: 400px;
  position: absolute;
  bottom: -75px;
  right: 50px;
}

@media (max-width: 785px) {
  .header-container img {
    display: none;
  }

  .header-container h2 {
    left: 0;
    position: relative;
    text-align: center;
  }

  .header-container h3 {
    position: relative;
    text-align: center;
    top: 160px;
    bottom: 0;
    left: 0;
  }

  .header-container {
    margin-bottom: 100px;
  }
}


/* COLUMNS */
section.thumbnail-row-1,
section.thumbnail-row-2 {
  margin: 0;
  width: 100%;
}

section.thumbnail-row-2 {
  margin-bottom: 75px;
}

.col-container {
  margin: 0 20px 20px;
  padding: 0;
  display: flex;
  height: 200px;
  flex-direction: row;
  justify-content: space-between;
}

.col-container a {
  text-decoration: none;
}

.col-container h3 {
  margin: 0;
  padding:  87px 0;
  color: white;
  width: 100%;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  text-align: center;
  transition: all 0.5s cubic-bezier(0.72, 0.3, 0.77, 0.85);
  transition-delay: 0.15s;
}

.col-1 {
  margin: 0 10px;
  padding: 0;
  height: 200px;
  flex: 4;
}

a.col-over-mij {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: flex;
  justify-content: center;
  background: url(../IMG/Foto-toespraak.jpg);
  background-position: 0 -120px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.4);
}

.col-2 {
  margin: 0 10px;
  padding: 0;
  height: 200px;
  flex: 5;
}

a.col-over-webby-max {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: flex;
  justify-content: center;
  background: url(../IMG/Over-webby-max.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.4);
}

.col-3 {
  margin: 0 10px;
  padding: 0;
  height: 200px;
  flex: 7;
}

a.col-websites {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: flex;
  justify-content: center;
  background: url(../IMG/Websites.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.4);
}

.col-4 {
  margin: 0 10px;
  padding: 0;
  height: 200px;
  flex: 3;
}

a.col-contact {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: flex;
  justify-content: center;
  background: url(../IMG/Contact-thumbnail.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.4);
}

a.col-over-mij:hover h3 {
  background: rgba(0, 0, 0, 0.5);
}

a.col-over-webby-max:hover h3 {
  background: rgba(0, 0, 0, 0.5);
}

a.col-websites:hover h3 {
  background: rgba(0, 0, 0, 0.5);
}

a.col-contact:hover h3 {
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 785px) {
  .col-container {
    display: block;
    height: 100%;
  }

  .col-container a {
    margin: 20px 0;
    display: block;
  }
}

@media (max-width: 1500px) {
  a.col-over-mij {
    background-position: 0;
  }
}
/* FOOTER */

footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200px;
  background: #242a3d;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 2;
}

.footer-logo {
  margin: 0;
  flex: 2;
}

h3#footer-logo {
  margin: 0;
  padding: 0;
  display: block;
  background-image: url(../SVG/Webby_Max_Logo_White.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 60px;
  line-height: 0;
  font-size: 0;
  font-weight: 300;
  color: transparent;
}

.footer-list {
  margin: 0;
  padding: 0;
  flex: 4;
  max-width: 100%;
}

.footer-list h4 {
  color: #ccc;
  font-weight: lighter;
  font-size: 14px;
}

.footer-list h5 {
  color: #9a9a9a;
  font-weight:lighter;
}

.footer-list h6 {
  color: #6d6d6d;
}

.footer-nav {
  margin: 0;
  padding: 0;
  flex: 2;
  max-width: 100%;
}

.footer-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav li {
  margin: 0;
  padding: 0;
}

.footer-nav a {
  margin: 0;
  padding: 0;
  color: #ccc;
  font-size: 12px;
  text-decoration: none;
}

@media (max-width: 785px ) {
  .content {
    padding-bottom: auto;
  }

  .footer {
    height: auto;
  }

  footer {
    height: 100%;
    display: block;
    padding-bottom: 25px;
  }
  .footer-logo {
    display: block;
    margin: 0 auto;
  }

  h3#footer-logo {
    margin: 0 auto 15px;
  }

  .footer-nav,
  .footer-list {
    display: inline-block;
    margin: 0 20px;
  }

  .footer-list {
    line-height: 30px;
  }

  .footer-nav {
    float: right;
    clear: all;
  }
}

@media (max-width: 520px) {
  .footer-nav,
  .footer-list {
    display: block;
    text-align: center;
  }
  .footer-nav {
    float: none;
    padding-bottom: 15px;
  }
}

/* OVER MIJ */
/* ANDERE PAGINA */
section {
  margin: 50px auto;
  width: 750px;
  max-width: 100%;
}

section img {
  margin: 0;
  padding: 0;
  width: 200px;
  max-width: 100%;
  border-radius: 1px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

section h3 {
  margin: 15px 0;
  text-align: center;
  font-weight: 300;
  color: #aaa;
  font-size: 30px;
}

section p {
  margin: 10px 0;
  padding: 0;
  text-align: center;
  color: #222;
  font-size: 15px;
}

@media (max-width: 775px) {
  section {
    margin-bottom: 150px;
  }
}
/* CONTACT */
section.contact a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}

section.contact a:first-of-type:before {
  content: "\f095";
  margin: 10px 30px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section.contact a:last-of-type:before {
  content: "\f0e0";
  margin: 10px 30px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section.contact br {
  display: none;
}

@media (max-width: 400px) {
  section.contact span {
    margin: 0 20px;
    line-height: 15px;
    font-size: 14px;
  }

  section.contact br {
    display: block;
  }

  section.contact a:first-of-type:before,
  section.contact a:last-of-type:before {
    font-size: 35px;
  }

  section.contact a:first-of-type:before {
    transition:
  }
}
